.avatar {
  flex: 8;
  border-radius: 30px;
  position: relative;
  background-image: url("/bg2.webp");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
  }
}
