.footer {
  margin-bottom: 50px;
  .section-title {
    font-size: 2rem;
    margin-bottom: 40px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-left: 40px;
    transition: transform 0.3s ease;
    &:before {
      content: "#";
      position: absolute;
      left: 0;
      color: #a64dff;
      font-weight: bold;
    }
  }
  ul {
    font-size: 25px;
    font-weight: 900;
    line-height: 2;
    padding: 0 30px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-bottom: 30px;
    ul {
      font-size: 14px;
      padding: 0 20px;
    }
  }
}
